<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="alta-usuario">
  <template>
    <style>
      :host {
        display: block;
      }

      #altaUsuario {
        padding: 10px 10px;
      }

      #avatar td {
        vertical-align: top;
        align : center;

      }

      #mensajeError{
        background-color: #f79f81;
        margin: 2px 2px;
      }

      input {
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: : 5px;
        border: 1px solid #000000;
        padding: 0 4px 0 4px;
      }

      div {
        margin-top: 5px;
        margin-bottom: 5px;
      }

    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

  <div id="altaUsuario">
    <h4>Alta de usuario</h4>
    <!--form-->
      <table>
        <tr>
          <td>
            <h5>Datos Personales</h5>
            <div>
              <input id="name" type="text" placeholder="Nombres" value="{{first_name::input}}" required/>
              <input id="appellido" type="text" placeholder="Apellidos" value="{{last_name::input}}" required/>
            </div>
            <div>
              <input id="fecnacimiento" size="15" type="text" placeholder="Fec nacimiento" value="{{fec_nac::input}}" required/>
              <label>dd/mm/aaaa</label>
            </div>
            <div>
              <label for="genderSelec">Género: </label>
              <select name="gender" value="{{gender::input}}" id="genderSelec">
                <option value="Male">Masculino</option>
                <option value="Female">Femenino</option>
                <option value="Other">Otro</option>
              </select>
            </div>
          </td>
          <td id="avatar" valign="bottom">
            <div><img src="{{avatar}}" alt="avatar"></img></div>
          </td>
        </tr>
        <tr>
          <td>
            <br><h5>Datos de contacto</h5>
            <div>
              <input id="email" size="40" type="email" placeholder="Correo electrónico" value="{{email::input}}" required/>
            </div>
            <div>
              <input id="password" type="password" placeholder="Contraseña" value="{{password::input}}" required/>
              <input id="passwordRepeat" type="password" placeholder="Repite la contraseña" value="{{passwordRepeat::input}}" required/>
            </div>
            <div>
              <input id="phone" type="phone" placeholder="Teléfono" value="{{telephone::input}}" required/>
            </div>
          </td>
          <td valign="top">
            <div>
              <button on-click="generaAvatar" type="button" class="btn btn-success btn-sm">Cambia tu avatar</button>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <br><h5>Domicilio</h5>
            <div>
              <input id="street" size="40" type="text" placeholder="Dirección" value="{{street_address::input}}" required/>
            </div>
            <div>
              <input id="number" size="15" type="text" placeholder="Número" value="{{street_number::input}}" required/>
              <input id="postal" size="15" type="text" placeholder="Código Postal" value="{{postal_code::input}}" required/>
            </div>
            <div>
              <input id="city" size="20" type="text" placeholder="Ciudad" value="{{city::input}}" required/>
              <input id="country" size="20" type="text" placeholder="País" value="{{country::input}}" required/>
            </div>
          </td>
          <td>
          </td>
        </tr>
        <tr>
          <td>
            <div>
              <br><h4>Datos de la Cuenta Bancaria</h4>
              <br><label>IBAN: </label>
              <input id="iban" type="text" size="35" disabled="true" value="{{iban::input}}"/>
              <br><label>Ingreso a cuenta: </label>
              <input id="balance" type="number" size="15" value="{{balance::input}}" required/>
            </div>
          </td>
          <td>
          </td>
        </tr>
      </table>
      <br>

      <div>
        <button on-click="createUser" class="btn btn-primary">Guardar</button>
        <button on-click="return" class="btn btn-primary">Cancelar</button>
        <span id="mensajeError">{{mensajeErr}}</span>
      </div>
    <!--/form-->
  </div>

    <iron-ajax auto="true"
      id="createIban"
      url="https://my.api.mockaroo.com/iban.json?key=ee9633c0"
      method = "GET"
      content-type="application/json"
      handle-as="json"
      on-response="showDataCreateIban"
      on-error="showErrorCreateIban"
    >

    <iron-ajax
      id="createUser"
      url="{{url_docker_back}}/psnglobal/v1/users/"
      method = "POST"
      content-type="application/json"
      handle-as="json"
      on-response="showDataCreateUser"
      on-error="showErrorCreateUser"
    >

    <iron-ajax
      id="createAccount"
      url="{{url_docker_back}}/psnglobal/v1/accounts/"
      method = "POST"
      content-type="application/json"
      handle-as="json"
      on-response="showDataCreateAccount"
      on-error="showErrorCreateAccount"
    >

    <iron-ajax
      id="createMovement"
      url="{{url_docker_back}}/psnglobal/v1/movements/"
      method = "POST"
      content-type="application/json"
      handle-as="json"
      on-response="showDataCreateMovement"
      on-error="showErrorCreateMovement"
    >

    <iron-ajax auto="true"
      id="createAvatar"
      url="https://my.api.mockaroo.com/avatar.json?key=ee9633c0"
      method = "GET"
      content-type="application/json"
      handle-as="json"
      on-response="showDataCreateAvatar"
      on-error="showErrorCreateAvatar"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AltaUsuario extends Polymer.Element {
      static get is() { return 'alta-usuario'; }
      static get properties() {
        return {
          url_docker_back: {
            type: String,
            //value: 'http://localhost:3000'
            value: 'http://route-imagenpsnglobalback-imagenpsnglobalback.a3c1.starter-us-west-1.openshiftapps.com'
          },first_name: {
            type: String
          },last_name: {
            type: String
          },email: {
            type: String
          },password: {
            type: String
          },passwordRepeat: {
            type: String
          },telephone: {
            type: String
          },street_address: {
            type: String
          },street_number: {
            type: String
          },postal_code: {
            type: String
          },city: {
            type: String
          },country: {
            type: String
          },fec_nac: {
            type: String
          },gender: {
            type: String
          },avatar: {
            type: String
          },iban: {
            type: String
          },balance: {
            type: Number
          },initialBalance: {
            type: Number,
            value: 0.00
          },returnpage: {
            type: String
          },mensajeOk: {
            type: String
          },productTypeCuenta: {
            type: String,
            value: 1
          },productTypeCredito: {
            type: String,
            value: 2
          },productTypeDebito: {
            type: String,
            value: 3
          },mensajeErr: {
            type: String
          }
        };
      }

      //IBAN
      showDataCreateIban(data){
        console.log("IBAN generado correctamente");
        console.log(data);

        this.iban = data.detail.response.iban;
      };

      showErrorCreateIban(error){
          console.log("Hubo un error al generar el IBAN");
          console.log(error);
      };

      //USER
      createUser(){
        console.log("Hemos pulsado en el botón Guardar");
        this.mensajeErr = "";

        if(this.password == this.passwordRepeat){

          var createUserData = {
            "first_name" : this.first_name,
            "last_name" : this.last_name,
            "fec_nac" : this.fec_nac,
            "gender" : this.gender,
            "email" : this.email,
            "password" : this.password,
            "telephone" : this.telephone,
            "street_address" : this.street_address,
            "street_number" : this.street_number,
            "postal_code" : this.postal_code,
            "city" : this.city,
            "country" : this.country,
            "avatar" : this.avatar
          };
          console.log(createUserData);

          this.$.createUser.body = JSON.stringify(createUserData);
          this.$.createUser.generateRequest();
        }else{
          this.mensajeErr = "Las contraseñas no coinciden";
        }

      }

      showDataCreateUser(data){
        console.log("Generamos la cuenta");
        this.mensajeOk = data.detail.response.mensaje;

        var createAccountData = {
          "iban" : this.iban,
          "user_id" : data.detail.response.idUsuario,
          "balance" : this.initialBalance
        };

        this.$.createAccount.body = JSON.stringify(createAccountData);
        this.$.createAccount.generateRequest();

      }

      showErrorCreateUser(error){
        console.log("Hubo un error al dar de alta el Usuario");
        console.log(error);
        this.mensajeErr = "Hubo un error al dar de alta el Usuario";
      }

      //ACCOUNT
      showDataCreateAccount(data){
        console.log(data.detail.response.mensaje);

        console.log("Generamos el Movimiento");

        var f = new Date();
        var date = f.getFullYear() + "/" + this.ponerCeros((f.getMonth() + 1)) + "/" + this.ponerCeros((f.getDate()));

        var createMovementData = {
          "product_id" : data.detail.response.idAccount,
          "date" : date,
          "sender" : "Alta Cliente",
          "amount" : this.balance,
          "observations" : "Ingreso a Cuenta",
          "product_type" : this.productTypeCuenta,
          "operator" : "+",
          "account_id" : data.detail.response.idAccount
        };

        this.$.createMovement.body = JSON.stringify(createMovementData);
        this.$.createMovement.generateRequest();

      }


      ponerCeros(num){
        while (num.toString().length < 2){
          num = '0' + num;
        }
        return num;
      }


      showErrorCreateAccount(error){
        console.log("Hubo un error al dar de alta la Cuenta");
      }


      //MOVEMENT
      showDataCreateMovement(data){
        console.log(data.detail.response.mensaje);

        alert(this.mensajeOk);

        this.dispatchEvent(
          new CustomEvent(
            "eventaltausuario",
            {
              "detail" : {
                "logoutFlag": false,
                "loginFlag": true
              }
            }
          )
        )

        window.location = this.returnpage;
      }

      showErrorCreateMovement(error){
        console.log("Hubo un error al dar de alta el Movimiento");

      }

      return(){
        console.log("Volvemos a :" + this.returnpage);

        this.dispatchEvent(
          new CustomEvent(
            "eventaltausuario",
            {
              "detail" : {
                "logoutFlag": false,
                "loginFlag": true,
                "drawerFlag": false
              }
            }
          )
        )

        window.location = this.returnpage;
      }

      generaAvatar(){
        console.log("Hemos pulsado en el botón 'Cambia tu Avatar'");

        this.$.createAvatar.generateRequest();
      }

      showDataCreateAvatar(data){
        console.log("Avatar generado correctamente");
        console.log(data);

        this.avatar = data.detail.response.avatar;
      }

      showErrorCreateAvatar(error){
          console.log("Hubo un error al generar el Avatar");
          console.log(error);
      }
    }

    window.customElements.define(AltaUsuario.is, AltaUsuario);
  </script>
</dom-module>
