<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }

      #mensajeError{
        background-color: #f79f81;
        margin: 2px 2px;
      }

      #mensajeOk{
        background-color: #81f79f;
        margin: 2px 2px;
      }

      #loginUsuario {
        padding: 10px 10px;
      }

      label {
        -font-weight: bold;
        -padding: 0 10px;
        font-size: 15px;
      }

      input {
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: : 5px;
        border: 1px solid #000000;
        padding: 0 4px 0 4px;
      }

      div {
        margin-top: 5px;
        margin-bottom: 5px;
      }

    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

  <div id="loginUsuario">
    <h5>Introduce tu usuario y clave de acceso</h5>
    <br>
  <!--form-->
    <div>
      <input id="email" placeholder="Email" type="email" value="{{email::input}}" name="email" title="Se necesita un email" required/>
    </div>
    <div>
      <input id="password" placeholder="Clave de acceso" type="password" value="{{password::input}}" name="password" required/>
    </div>
    <div>
      <button on-click="logIn" class="btn btn-primary">Entrar</button>
      <span id="mensajeError">{{mensajeErr}}</span>
      <span id="mensajeOk">{{mensajeOk}}</span>
    </div>
  <!--/form-->
    <!--button class="btn btn-link">
      <a href="">
        ¿Olvidado tu clave de acceso?
      </a>
    </button-->
    <label>¿Aún no eres usuario de BBVA?,
      <button on-click="altaUsuario" class="btn btn-link">
            hazte cliente ahora
      </button>
    </label>
  </div>

    <iron-ajax
      id="doLogin"
      url="{{url_docker_back}}/psnglobal/v1/login/"
      method = "POST"
      content-type="application/json"
      handle-as="json"
      on-response="showDataLogin"
      on-error="showErrorLogin"
    >
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          url_docker_back: {
            type: String,
            //value: 'http://localhost:3000'
            value: 'http://route-imagenpsnglobalback-imagenpsnglobalback.a3c1.starter-us-west-1.openshiftapps.com'
          },email: {
            type: String,
            value: "@gmail.com"
          },password: {
            type: String,
            value: "holamundo"
          },userid: {
            type: String
          },page: {
            type: String
          },returnpage: {
            type: String
          },mensajeErr: {
            type: String
          },mensajeOk: {
            type: String
          }
        };
      }

      logIn(){
        console.log("Hemos pulsado en el botón Entrar");
        this.mensajeErr = "";
        this.mensajeOk = "";

        if(this.email == "" || this.email == undefined){
          this.mensajeErr = "Debes informar el Email";
        }else if (this.password == "" || this.password == undefined){
          this.mensajeErr = "Debes informar la clave de acceso";
        }else{

          var loginData = {
            "email" : this.email,
            "password" : this.password
          };

          this.$.doLogin.body = JSON.stringify(loginData);
          this.$.doLogin.generateRequest();
        }
      }

      showDataLogin(data){
        console.log("showDataLogin");
        console.log(data.detail.response);
        var response = data.detail.response;
        this.mensajeOk = response.mensaje;
        alert(this.mensajeOk);

        this.dispatchEvent(
          new CustomEvent(
            "eventlogin",
            {
              "detail" : {
                "userid" : data.detail.response.userid,
                "page": this.returnpage,
                "logoutFlag": true,
                "loginFlag": false,
                "drawerFlag": true,
                "userName" : data.detail.response.first_name + " " + data.detail.response.last_name
              }
            }
          )
        )
      }

      showErrorLogin(error){
        console.log("Hubo un error realizando el logIn");
        var response = error.detail.request.xhr.response;
        console.log(response);

        this.mensajeErr = response.mensaje;
      }

      altaUsuario(){
        console.log("Hemos pulsado en el botón 'hazte cliente'");

        this.dispatchEvent(
          new CustomEvent(
            "eventlogin",
            {
              "detail" : {
                "page": "alta-usuario",
                "logoutFlag": false,
                "loginFlag": false,
                "drawerFlag": false
              }
            }
          )
        )
      }

    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
