<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="my-icons.html">

<dom-module id="psnglobalfront-app">
  <template>
    <style>
      :host {
        --app-primary-color: #4285f4;
        --app-secondary-color: #0b2161;
        color: #0b2161;
        display: block;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
        font-weight: bold;
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 30px;
      }

      .drawer-list a.iron-selected {
        color: #0b2161;
        font-weight: bold;
      }

      #login{
        font-weight: bold;
      }

      #logout{
        font-weight: bold;
      }

      button {
        font-weight: bold;
      }

      #welcome{
        padding: 10px 5px 0 5px;
        background-color: #0b2161;
      }

      #welcomeText{
        color: #ffff;
      }

      #welcomeTextName{
        font-weight: bold;
        color: #ffff;
        font-size: 20px;
      }

    </style>

    <app-location route="{{route}}" url-space-regex="[[rootPath]]"></app-location>
    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>

    <app-drawer-layout id="drawerlayout" fullbleed narrow="{{narrow}}">
      <!-- Drawer content -->
      <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]">
        <spam id="drawerContent" hidden$="{{!drawerFlag}}">
          <div id="welcome">
            <spam id="welcomeText">Bienvenido </spam>
            <br>
            <spam id="welcomeTextName">{{userName}}!</spam>
          </div>
          <!--app-toolbar>Menu</app-toolbar-->
          <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
            <a name="visor-cuentas" href="[[rootPath]]visor-cuentas">Posición Global</a>
            <a name="visor-usuario" href="[[rootPath]]visor-usuario">Perfil usuario</a>
            <a name="psw-usuario" href="[[rootPath]]psw-usuario">Clave acceso</a>
          </iron-selector>
        </spam>
      </app-drawer>

      <!-- Main content -->
      <app-header-layout has-scrolling-region>

        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar>
            <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
            <div main-title>{{mainTitle}}</div>
            <spam id="login" hidden$="{{!loginFlag}}" overflow="scroll">
              <button type="button" class="btn btn-primary btn-lg" on-click="logIn">INICIAR SESIÓN</button>
            </spam>
            <spam id="logout" hidden$="{{!logoutFlag}}" overflow="scroll">
              <button type="button" class="btn btn-primary" on-click="logOut">CERRAR SESIÓN</button>
            </spam>
          </app-toolbar>
        </app-header>

        <iron-pages
            selected="[[page]]"
            attr-for-selected="name"
            fallback-selection="login-usuario"
            role="main">
          <login-usuario on-eventlogin="processLogin" name="login-usuario" returnpage="visor-cuentas"></login-usuario>
          <visor-cuentas on-eventcuentas="processCuentas" name="visor-cuentas" userid={{userid}}></visor-cuentas>
          <visor-movcuenta on-eventmovcuenta="processMovCuenta" name="visor-movcuenta" productid={{productid}} producttype={{producttype}} returnpage="visor-cuentas"></visor-movcuenta>
          <visor-movtarjeta on-eventmovtarjeta="processMovTarjeta" name="visor-movtarjeta" productid={{productid}} producttype={{producttype}} returnpage="visor-cuentas"></visor-movtarjeta>
          <visor-usuario on-eventusuario="processUsuario" name="visor-usuario" userid={{userid}} returnpage="visor-cuentas"></visor-usuario>
          <psw-usuario on-eventpsw="processPsw" name="psw-usuario" userid={{userid}} returnpage="visor-cuentas"></psw-usuario>
          <alta-usuario on-eventaltausuario="processAltaUsuario" name="alta-usuario" returnpage="login-usuario"></alta-usuario>
        </iron-pages>
      </app-header-layout>
    </app-drawer-layout>

    <iron-ajax
      id="doLogOut"
      url="{{url_docker_back}}/psnglobal/v1/logout/{{userid}}"
      method = "POST"
      handle-as="json"
      on-response="showDataLogout"
      on-error="showErrorLogout"
    >

  </template>

  <script>
    // Gesture events like tap and track generated from touch will not be
    // preventable, allowing for better scrolling performance.
    Polymer.setPassiveTouchGestures(true);

    class PsnGlobalFrontApp extends Polymer.Element {
      static get is() { return 'psnglobalfront-app'; }

      static get properties() {
        return {
          url_docker_back: {
            type: String,
            //value: 'http://localhost:3000'
            value: 'http://route-imagenpsnglobalback-imagenpsnglobalback.a3c1.starter-us-west-1.openshiftapps.com'
          },page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },userid: {
            type: String,
            observer: '_useridChanged',
          },productid: {
            type: String,
            observer: '_productidChanged',
          },producttype: {
            type: String
          },loginFlag: {
            type: Boolean,
            value: true
          },logoutFlag: {
            type: Boolean,
            value: false
          },drawerFlag:{
            type: Boolean,
            value: false
          },mainTitle: {
            type: String,
            value: "Entra a tu banca online"
          },userName: {
            type: String
          },
          routeData: Object,
          subroute: Object,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,

        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to 'login-usuario' in that case.
        this.page = page || 'login-usuario';
        //this.page = "login-usuario";

        // Close a non-persistent drawer when the page & route are changed.
        if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }
      }

      _pageChanged(page) {
        // Load page import on demand. Show login-usuario page if fails
        const resolvedPageUrl = this.resolveUrl(page + '.html');

        this._changeMainTitle(page);

        Polymer.importHref(
            resolvedPageUrl,
            null,
            this._showPage404.bind(this),
            true);

      }

      _changeMainTitle(page){
        var title = {
          "login-usuario" : "Entra a tu banca online",
          "visor-cuentas" : "Tu posición global",
          "visor-usuario" : "Modificar Cuenta de Usuario",
          "psw-usuario" : "Modificar Cuenta de Usuario",
          "visor-movcuenta" : "Movimientos de la Cuenta",
          "visor-movtarjeta" : "Movimientos de la Tarjeta",
          "alta-usuario" : "Hazte cliente de BBVA"
        };
        this.mainTitle = title[page];
      }

      processCuentas(e){
        console.log("Capturado Evento del Emisor Cuentas");
        console.log(e.detail);

        this.productid = e.detail.productid;
        this.producttype = e.detail.producttype;

        if(this.producttype == 1){
          this.page = "visor-movcuenta";
        }else{
          this.page = "visor-movtarjeta";
        }

      }

      processLogin(e){
        console.log("Capturado Evento del Emisor Login");
        console.log(e.detail);

        this.userid = e.detail.userid;
        this.page = e.detail.page;
        this.logoutFlag = e.detail.logoutFlag;
        this.loginFlag = e.detail.loginFlag;
        this.drawerFlag = e.detail.drawerFlag;
        this.userName = e.detail.userName;
      }

      processMovCuenta(e){
        console.log("Capturado Evento del Emisor Movimientos Cuenta");
        console.log(e.detail);

        this.page = e.detail.page;
      }

      processMovTarjeta(e){
        console.log("Capturado Evento del Emisor Movimientos Tarjeta");
        console.log(e.detail);

        this.page = e.detail.page;
      }

      processUsuario(e){
        console.log("Capturado Evento del Emisor Usuario");
        console.log(e.detail);

        this.page = e.detail.page;

        if (e.detail.userName !== undefined){
          this.userName = e.detail.userName;
        }
      }

      processPsw(e){
        console.log("Capturado Evento del Emisor Psw");
        console.log(e.detail);

        this.page = e.detail.page;
      }

      processAltaUsuario(e){
        console.log("Capturado Evento del Emisor Alta Usuario");
        console.log(e.detail);

        this.page = e.detail.page;
        this.logoutFlag = e.detail.logoutFlag;
        this.loginFlag = e.detail.loginFlag;
        this.drawerFlag = e.detail.drawerFlag;
      }

      _productidChanged(newValue, oldValue){
        console.log("Old values is " + oldValue);
        console.log("New values is " + newValue);

        //this.page = "visor-movcuenta";
      }

      _useridChanged(newValue, oldValue){
        console.log("Old values is " + oldValue);
        console.log("New values is " + newValue);

        //this.page = "visor-cuentas";
      }

      _showPage404(){
        this.page = 'login-usuario';
      }

      logIn(){
        window.location = "login-usuario"
      }

      logOut(){
        this.$.doLogOut.generateRequest();
      }

      showDataLogout(){
        console.log("Hemos hecho logOut correctamente");

        window.location = "login-usuario";

        this.logoutFlag = false;
        this.loginFlag = true;
        this.drawerFlag = false;
      }

      showErrorLogout(){
        console.log("Se prpodujo un error al hacer logOut");
      }

    }

    window.customElements.define(PsnGlobalFrontApp.is, PsnGlobalFrontApp);
  </script>
</dom-module>
