<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="psw-usuario">
  <template>
    <style>
      :host {
        display: block;
      }

      #mensajeError{
        background-color: #f79f81;
        margin: 10px 10px;
      }

      #pswUsuario {
        padding: 10px 10px;
      }

      input {
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: : 5px;
        border: 1px solid #000000;
        padding: 0 4px 0 4px;
      }

      div {
        margin-top: 5px;
        margin-bottom: 5px;
      }

    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

  <div id="pswUsuario">
    <h4>Cambia tu Clave de Acceso</h4>
    <br>
    <div>
      <input id="password" type="password" placeholder="Contraseña actual" value="{{password::input}}"/>
    </div>
    <div>
      <input id="new_password" type="password" placeholder="Contraseña nueva" value="{{new_password::input}}"/>
      <input id="passwordRepeat" type="password" placeholder="Repite la contraseña" value="{{passwordRepeat::input}}"/>
    </div>
    <br>
    <button on-click="changePassword" class="btn btn-primary">Guardar cambios</button>
    <button on-click="return" class="btn btn-primary">Cancelar</button>
    <span id="mensajeError">{{mensajeErr}}</span>
  </div>

    <iron-ajax
      id="modifyUser"
      url="{{url_docker_back}}/psnglobal/v1/users/{{userid}}/password"
      method = "PUT"
      content-type="application/json"
      handle-as="json"
      on-response="showDataModifyUser"
      on-error="showErrorModifyUser"
    >
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class PswUsuario extends Polymer.Element {
      static get is() { return 'psw-usuario'; }
      static get properties() {
        return {
          url_docker_back: {
            type: String,
            //value: 'http://localhost:3000'
            value: 'http://route-imagenpsnglobalback-imagenpsnglobalback.a3c1.starter-us-west-1.openshiftapps.com'
          },password: {
            type: String
          },new_password: {
            type: String
          },passwordRepeat: {
            type: String
          },userid: {
            type: String
          },returnpage: {
            type: String
          },mensajeErr: {
            type: String
          }
        };
      }

      changePassword(){
        console.log("Hemos pulsado en el botón Guardar");
        this.mensajeErr = "";

        if(this.new_password == this.passwordRepeat){
          var modifyUserData = {
            "password" : this.password,
            "new_password" : this.new_password
          };

          this.$.modifyUser.body = JSON.stringify(modifyUserData);
          this.$.modifyUser.generateRequest();

        }else{
          this.mensajeErr = "Las contraseñas no coinciden";
        }
      }

      showDataModifyUser(data){
        console.log("showDataModifyUser");
        console.log(data.detail.response.mensaje);
        alert(data.detail.response.mensaje);

        this.dispatchEvent(
          new CustomEvent(
            "eventpsw",
            {
              "detail" : {
                "page": this.returnpage
              }
            }
          )
        )
      }

      showErrorModifyUser(error){
        console.log("Hubo un error al Modificar la contraseña del Usuario");
        var response = error.detail.request.xhr.response;
        console.log(response);

        this.mensajeErr = response.mensaje;
      }

      return(){
        console.log("Hemos pulsado en el botón Cancelar");

        this.mensajeErr = "";
        this.password = "";
        this.new_password = "";
        this.passwordRepeat = "";

        this.dispatchEvent(
          new CustomEvent(
            "eventpsw",
            {
              "detail" : {
                "page": this.returnpage
              }
            }
          )
        )

      }
    }

    window.customElements.define(PswUsuario.is, PswUsuario);
  </script>
</dom-module>
