<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }

      #visorUsuario{
        padding: 10px 10px;
      }

      #mensajeError{
        background-color: #f79f81;
        margin: 10px 10px;
      }

      input {
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: : 5px;
        border: 1px solid #000000;
        padding: 0 4px 0 4px;
      }

      div {
        margin-top: 5px;
        margin-bottom: 5px;
      }

      #deleteUser{
        font-weight: bold;
      }

      #accionDeleteUser{
        font-weight: normal;
      }


    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <div id="visorUsuario">
      <h4>Modifica tus datos personales</h4>
      <br>
      <table>
        <tr>
          <td>
            <h5>Datos personales</h5>
            <div>
              <input id="nombre" type="text" placeholder="Nombres" value="{{first_name::input}}" required/>
              <input id="apellido" type="text" placeholder="Apellidos" value="{{last_name::input}}" required/>
            </div>
            <div>
              <input id="fecnacimiento" size="15" type="text" placeholder="Fec nacimiento" value="{{fec_nac::input}}" required/>
              <label>dd/mm/aaaa</label>
            </div>
            <div>
              <label for="genderSelec">Género: </label>
              <select name="gender" value="{{gender::input}}" id="genderSelec">
                <option value="Male">Masculino</option>
                <option value="Female">Femenino</option>
                <option value="Other">Otro</option>
              </select>
            </div>
          </td>
          <td id="avatar" valign="bottom">
            <div><img src="{{avatar}}" alt="avatar"></img></div>
          </td>
        </tr>
        <tr>
          <td>
            <br><h5>Datos de contacto</h5>
            <div>
              <input id="email" size="40" type="email" placeholder="Correo electrónico" value="{{email::input}}" required/>
            </div>
            <div>
              <input id="phone" type="phone" placeholder="Teléfono" value="{{telephone::input}}" required/>
            </div>
          </td>
          <td valign="top">
            <div>
              <button on-click="generaAvatar" type="button" class="btn btn-success btn-sm">Cambia tu avatar</button>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <br><h5>Domicilio</h5>

            <div>
              <input id="street" size="40" type="text" placeholder="Dirección" value="{{street_address::input}}" required/>
            </div>
            <div>
              <input id="number" size="15" type="text" placeholder="Número" value="{{street_number::input}}" required/>
              <input id="postal" size="15" type="text" placeholder="Código Postal" value="{{postal_code::input}}" required/>
            </div>
            <div>
              <input id="city" size="20" type="text" placeholder="Ciudad" value="{{city::input}}" required/>
              <input id="country" size="20" type="text" placeholder="País" value="{{country::input}}" required/>
            </div>
          </td>
          <td>
          </td>
        </tr>
      </table>
      <br>
      <div>
        <button id="btnguardar" on-click="modifyUser" class="btn btn-primary">Guardar cambios</button>
        <button id="btncancelar" on-click="return" class="btn btn-primary">Cancelar</button>
        <span id="mensajeError">{{mensajeErrModify}}</span>
      </div>
      <div>
        <br><label id="deleteUser">Dar de baja la cuenta de usuario</label>
        <br><label id="accionDeleteUser">Recuerde que esta acción será de forma permanente.</label>
        <button id="btnbaja" on-click="deleteUser" type="button" class="btn btn-danger btn-sm">Eliminar cuenta</button>
        <span id="mensajeError">{{mensajeErrDelete}}</span>
      </div>
    </div>

    <iron-ajax auto="true"
      id="getUser"
      url="{{url_docker_back}}/psnglobal/v1/users/{{userid}}"
      handle-as="json"
      on-response="showData"
    >

    <iron-ajax
      id="modifyUser"
      url="{{url_docker_back}}/psnglobal/v1/users/{{userid}}"
      method = "PUT"
      content-type="application/json"
      handle-as="json"
      on-response="showDataModifyUser"
      on-error="showErrorModifyUser"
    >

    <iron-ajax
      id="createAvatar"
      url="https://my.api.mockaroo.com/avatar.json?key=ee9633c0"
      method = "GET"
      content-type="application/json"
      handle-as="json"
      on-response="showDataCreateAvatar"
      on-error="showErrorCreateAvatar"
    >
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          url_docker_back: {
            type: String,
            //value: 'http://localhost:3000'
            value: 'http://route-imagenpsnglobalback-imagenpsnglobalback.a3c1.starter-us-west-1.openshiftapps.com'
          },first_name: {
            type: String
          },last_name: {
            type: String
          },email: {
            type: String
          },telephone: {
            type: String
          },street_address: {
            type: String
          },street_number: {
            type: String
          },postal_code: {
            type: String
          },city: {
            type: String
          },country: {
            type: String
          },fec_nac: {
            type: String
          },gender: {
            type: String
          },avatar: {
            type: String
          },user_id: {
            type: String
          },userid: {
            type: String
          },page: {
            type: String
          },returnpage: {
            type: String
          },deleteFlag: {
            type: Boolean,
            value: false
          },mensajeErrModify: {
            type: String
          },mensajeErrDelete: {
            type: String
          }
        };
      }

      showData(data){
        console.log("showData");
        console.log(data.detail.response);

        this.user_id = data.detail.response.user_id;
        this.first_name = data.detail.response.first_name;
        this.last_name = data.detail.response.last_name;
        this.fec_nac = data.detail.response.fec_nac;
        this.gender = data.detail.response.gender;
        this.email = data.detail.response.email;
        this.telephone = data.detail.response.telephone;
        this.street_address = data.detail.response.street_address;
        this.street_number = data.detail.response.street_number;
        this.postal_code = data.detail.response.postal_code;
        this.city = data.detail.response.city;
        this.country = data.detail.response.country;
        this.avatar = data.detail.response.avatar;
      }

      modifyUser(){
        console.log("Hemos pulsado en el botón Guardar");
        this.mensajeErrModify = "";

        var modifyUserData = {
          "first_name" : this.first_name,
          "last_name" : this.last_name,
          "gender" : this.gender,
          "fec_nac" : this.fec_nac,
          "email" : this.email,
          "telephone" : this.telephone,
          "street_address" : this.street_address,
          "street_number" : this.street_number,
          "postal_code" : this.postal_code,
          "city" : this.city,
          "country" : this.country,
          "avatar" : this.avatar
        };

        this.$.modifyUser.body = JSON.stringify(modifyUserData);
        this.$.modifyUser.generateRequest();

      }

      showDataModifyUser(data){
        console.log("showDataModifyUser");
        console.log(JSON.stringify(data.detail.response));

        alert(data.detail.response.mensaje);

        if(this.deleteFlag){
          window.location = "login-usuario";
        }else{
          this.dispatchEvent(
            new CustomEvent(
              "eventusuario",
              {
                "detail" : {
                  "page" : this.returnpage,
                  "userName" : data.detail.response.first_name + " " + data.detail.response.last_name
                }
              }
            )
          )
        }

      }

      showErrorModifyUser(error){
        console.log(error.detail.response.mensaje);

        if(this.deleteFlag){
          this.mensajeErrDelete = error.detail.response.mensaje;
        }else{
          this.mensajeErrModify = error.detail.response.mensaje;
        }

        this.deleteFlag = false;
      }

      return(){
        console.log("Volvemos a :" + this.returnpage);

        this.dispatchEvent(
          new CustomEvent(
            "eventusuario",
            {
              "detail" : {
                "page" : this.returnpage
              }
            }
          )
        )
      }

      deleteUser(){
        console.log("Hemos pulsado en el botón 'Darse de baja'");

        var option = confirm("¿Estás seguro que quieres darte de baja?. Recuerda que esta acción se realizará de forma permanente");

        if(option){
          console.log("Hemos pulsado en el botón 'Aceptar'");
          this.mensajeErrDelete = "";
          this.deleteFlag = true;

          var modifyUserData = {};

          this.$.modifyUser.body = JSON.stringify(modifyUserData);
          this.$.modifyUser.generateRequest();
        }else{
          console.log("Hemos pulsado en el botón 'Cancelar'");
        }
      }

      generaAvatar(){
        console.log("Hemos pulsado en el botón 'Cambia tu Avatar'");

        this.$.createAvatar.generateRequest();
      }

      showDataCreateAvatar(data){
        console.log("Avatar generado correctamente");
        console.log(data);

        this.avatar = data.detail.response.avatar;
      }

      showErrorCreateAvatar(error){
          console.log("Hubo un error al generar el Avatar");
          console.log(error);
      }
    }

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
