<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-movtarjeta">
  <template>
    <style>
      :host {
        display: block;
      }

      table {
        border-collapse: collapse;
      }
      #movements td, th {
        padding: 16px;
        -border: 1px solid #ddd;
      }
      #movements tr:nth-child(even) {
        background-color: #f2f2f2;
      }
      #movements tr:hover {
        background-color: #ddd;
      }
      #movements th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #0b2161;
        color:white;
      }
       #amount td {
         text-align: right;
      }

      #visorMovTarjeta {
        padding: 10px 10px;
      }

      label{
        font-weight: bold;
      }

      #operation {
        margin: 10px;
        border-collapse: collapse;
        border: 5px solid #ddd;
      }

      input {
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: : 5px;
        border: 1px solid #000000;
        padding: 0 4px 0 4px;
      }

      div {
        margin-top: 5px;
        margin-bottom: 5px;
      }

      #mensajeError{
        background-color: #f79f81;
        margin: 10px 10px;
      }

    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

  <div id="visorMovTarjeta">
    <!--h4><b>Tarjeta</b></h4-->
    <table id="card">
      <tr>
        <td width="480"><label>Tarjeta:</label> {{pan}}</td>
        <td><label>Límite:</label> {{limit}}</td>
      </tr>
      <tr>
        <td width="460"><label>Cuenta:</label> {{iban}}</td>
        <td><label>Saldo:</label> {{balance}}</td>
      </tr>
    </table>
    <br>
    <h4><b>Últimos movimientos de la Tarjeta</b></h4>

    <div align="rigth">
      <button on-click="return" class="btn btn-primary">Volver</button>
    </div>
    </br>
    <table id="movements">
      <tr>
        <th width="130">Fecha</th>
        <th width="360">Observaciones</th>
        <th width="130">Importe</th>
      </tr>
      <template is="dom-repeat" items="{{movements}}">
      <tr>
        <td width="130">{{item.date}}</td>
        <td width="360">{{item.observations}}</td>
        <td id="amount" width="130">{{item.amount}}</td>
      </tr>
      </template>
    </table>
    <div><spam hidden$="{{movementFlag}}">No hay movimientos<br></spam></div>
    <div>
      <button type="button" class="btn btn-success btn-sm" on-click="addMovement">Añadir movimiento</button>
    </div>

    <div>
      <spam hidden$="{{newMovementFlag}}">
        <table id="operation" border="1">
          <tr>
            <td width="230">
              <div>
                <label for="movementTypeSelec">Operaciones: </label><br>
                <label><input id="operation" type="radio" on-click="realizarReintegro" name="operation" checked/>Realizar Reintegro</label><br>
                <label><input id="operation" type="radio" on-click="anularReintegro" name="operation"/>Anular Reintegro</label>
              </div>
              <div>
                <input type="text" size="10" placeholder="Importe" value={{operationAmount::input}}>
              </div>
              <div>
                <input type="text" size="40" placeholder="Ordenante" value={{operationObservations::input}}>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div>
                <button type="button" class="btn btn-primary btn-sm" on-click="submitMovement">Guardar</button>
                <button type="button" class="btn btn-primary btn-sm" on-click="cancelCreateMovement">Cancelar</button>
                <span id="mensajeError">{{mensajeErrModify}}</span>
              </div>
            </td>
          </tr>
        </table>

      </spam>
    </div>

  </div>

    <iron-ajax auto="true"
      id="getCard"
      url="{{url_docker_back}}/psnglobal/v1/cards/{{productid}}"
      method = "GET"
      handle-as="json"
      on-response="showDataGetCard"
      on-error="showErrorGetCard"
    >

    <iron-ajax
      id="getAccount"
      url="{{url_docker_back}}/psnglobal/v1/accounts/{{accountid}}"
      method = "GET"
      handle-as="json"
      on-response="showDataGetAccount"
      on-error="showErrorGetAccount"
    >

    <iron-ajax auto="true"
      id="getMovement"
      url="{{url_docker_back}}/psnglobal/v1/cards/{{productid}}/movements/{{producttype}}"
      method = "GET"
      handle-as="json"
      on-response="showDataMovement"
      on-error="showErrorMovement"
    >

    <iron-ajax
      id="createMovement"
      url="{{url_docker_back}}/psnglobal/v1/movements/"
      method = "POST"
      content-type="application/json"
      handle-as="json"
      on-response="showDataCreateMovement"
      on-error="showErrorCreateMovement"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorMovTarjeta extends Polymer.Element {
      static get is() { return 'visor-movtarjeta'; }
      static get properties() {
        return {
          url_docker_back: {
            type: String,
            //value: 'http://localhost:3000'
            value: 'http://route-imagenpsnglobalback-imagenpsnglobalback.a3c1.starter-us-west-1.openshiftapps.com'
          },pan: {
            type: String
          },limit: {
            type: String
          },movements: {
            type: Array
          },userid: {
            type: String
          },productid: {
            type: String
          },producttype: {
            type: String
          },date: {
            type: Date
          },sender: {
            type: String
          },amount: {
            type: Number
          },accountid: {
            type: String
          },iban: {
            type: String
          },balance: {
            type: String
          },observations: {
            type: String
          },returnpage: {
            type: String
          },movementFlag: {
            type: Boolean,
            value: true
          },newMovementFlag:{
            type: Boolean,
            value: true
          },mensajeErrModify: {
            type: String
          },operationAmount: {
            type: String
          },operationSender: {
            type: String
          },operationObservations: {
            type: String
          },operator: {
            type: String,
            value: "-"
          }
        };
      }

      showDataGetCard(data){
        console.log("showDatagetCard");
        console.log(data.detail.response);

        this.pan = data.detail.response.pan;
        this.limit = data.detail.response.limit;
        this.accountid = data.detail.response.account_id;

        this.$.getAccount.generateRequest();
      }

      showErrorGetCard(error){
        console.log("Hubo un error al Consultar la Tarjeta");
        console.log(error);
      }

      showDataMovement(data){
        console.log("showDataMovement");
        console.log(data.detail.response);

        this.movementFlag = true;
        this.movements = data.detail.response;
      }

      showErrorMovement(error){
        console.log("Hubo un error al Consultar los Movimientos de la Tarjeta");
        console.log(error);

        this.movementFlag = false;
        this.movements = "";
      }

      showDataGetAccount(data){
        console.log("showDataGetAccount");
        console.log(data.detail.response);

        this.iban = data.detail.response.iban;
        this.balance = data.detail.response.balance;
      }

      showErrorGetAccount(error){
        console.log("Hubo un error al Consultar la Cuenta");
        console.log(error);
      }

      return(){
        console.log("Volvemos a :" + this.returnpage);
        this.newMovementFlag = true;

        this.dispatchEvent(
          new CustomEvent(
            "eventmovtarjeta",
            {
              "detail" : {
                "page" : this.returnpage
              }
            }
          )
        )
      }

      addMovement(){
        console.log("Hemos pulsado en el botón Añadir movimientos");
        this.newMovementFlag = false;
        this.operationAmount = "";
        this.operationObservations = "";

      }

      submitMovement(){
        console.log("Hemos pulsado en el botón Guardar");
        this.mensajeErrModify = "";

        var f = new Date();
        var date = f.getFullYear() + "/" + this.ponerCeros((f.getMonth() + 1)) + "/" + this.ponerCeros((f.getDate()));

        var submitMovementData = {
          "product_id" : this.productid,
          "date" : date,
          "sender" : this.operationSender,
          "amount" : this.operationAmount,
          "observations" : this.operationObservations,
          "product_type" : this.producttype,
          "operator" : this.operator,
          "account_id" : this.accountid
        };

        console.log(submitMovementData);

        this.$.createMovement.body = JSON.stringify(submitMovementData);
        this.$.createMovement.generateRequest();
      }

      ponerCeros(num){
        while (num.toString().length < 2){
          num = '0' + num;
        }
        return num;
      }

      showDataCreateMovement(data){
        console.log("showDataCreateMovement");
        console.log(data.detail.response.mensaje);

        this.newMovementFlag = true;

        this.$.getAccount.generateRequest();
        this.$.getMovement.generateRequest();
        alert(data.detail.response.mensaje);
      }

      showErrorCreateMovement(error){
        console.log("showErrorCreateMovement");
        this.newMovementFlag = false;

        this.mensajeErrModify = error.detail.response.mensaje;
      }

      cancelCreateMovement(){
        console.log("Hemos pulsado en el botón Cancelar");
        this.newMovementFlag = true;
      }

      realizarReintegro(){
        this.operator = "-";
      }

      anularReintegro(){
        this.operator = "+";
      }

    }

    window.customElements.define(VisorMovTarjeta.is, VisorMovTarjeta);
  </script>
</dom-module>
