<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
      table {
        border-collapse: collapse;
      }
      td, th {
        padding: 16px;
        -border: 1px solid #ddd;
      }
      tr:nth-child(even) {
        background-color: #f2f2f2;
      }
      tr:hover {
        background-color: #ddd;
        cursor: pointer;
      }
      th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #0b2161;
        color:white;
      }
      td {
         align: rigth;
      }

      #visorCuentas {
        padding: 10px 10px;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

  <div id="visorCuentas">
    <h4><b>Cuentas Personales</b></h4>
    <table id="movements">
      <tr>
        <th width="490">Cuenta (IBAN)</th>
        <th width="130">Saldo actual</th>
        <!--th width="140">Acciones</th-->
      </tr>
      <template is="dom-repeat" items="{{accounts}}">
      <tr on-click="verMovimientosCuenta" name={{item.account_id}} alt="Ver movimientos">
        <td width="490">{{item.iban}}</td>
        <td width="130">{{item.balance}}</td>
        <!--td width="140">
          <button class="btn btn-link" on-click="verMovimientosCuenta" name={{item.account_id}}>movimientos</button>
        </td-->
      </tr>
      </template>
    </table>
    <div>
      <button type="button" class="btn btn-success btn-sm" on-click="contratAccount">Contratar</button>
    </div>

    <br>
    <h4><b>Tarjetas de Crédito</b></h4>
    <table id="creditCards">
      <tr>
        <th width="490">Tarjeta (PAN)</th>
        <th width="130">Límite</th>
        <!--th width="140">Acciones</th-->
      </tr>
      <template is="dom-repeat" items="{{creditCards}}">
      <tr on-click="verMovimientosTarjetaC" name={{item.card_id}}>
        <td width="490">{{item.pan}}</td>
        <td width="130">{{item.limit}}</td>
        <!--td width="140">
          <button class="btn btn-link" on-click="verMovimientosTarjetaC" name={{item.card_id}}>movimientos</button>
        </td-->
      </tr>
      </template>
    </table>
    <div>
      <spam hidden$="{{creditCardFlag}}">No tienes tarjetas de Crédito.<br></spam>
      <button type="button" class="btn btn-success btn-sm" on-click="contratCreditCard">Contratar</button>
    </div>

    <br>
    <h4><b>Tarjetas de Débito</b></h4>
    <table id="debitCards">
      <tr>
        <th width="490">Tarjeta (PAN)</th>
        <th width="130">Límite</th>
        <!--th width="140">Acciones</th-->
      </tr>
      <template is="dom-repeat" items="{{debitCards}}">
      <tr on-click="verMovimientosTarjetaD" name={{item.card_id}}>
        <td width="490">{{item.pan}}</td>
        <td width="130">{{item.limit}}</td>
        <!--td width="140">
          <button class="btn btn-link" on-click="verMovimientosTarjetaD" name={{item.card_id}}>movimientos</button>
        </td-->
      </tr>
      </template>
    </table>
    <div>
      <spam hidden$="{{debitCardFlag}}">No tienes tarjetas de Débito.<br></spam>
      <button type="button" class="btn btn-success btn-sm" on-click="contratDebitCard">Contratar</button>
    </div>
  </div>

    <iron-ajax auto="true"
      id="getAccount"
      url="{{url_docker_back}}/psnglobal/v1/users/{{userid}}/accounts"
      handle-as="json"
      on-response="showDataAccount"
      on-error="showErrorAccount"
    >

    <iron-ajax auto="true"
      id="getCreditCard"
      url="{{url_docker_back}}/psnglobal/v1/users/{{userid}}/cards/{{creditCard}}"
      handle-as="json"
      on-response="showDataCreditCard"
      on-error="showErrorCreditCard"
    >

    <iron-ajax auto="true"
      id="getDebitCard"
      url="{{url_docker_back}}/psnglobal/v1/users/{{userid}}/cards/{{debitCard}}"
      handle-as="json"
      on-response="showDataDebitCard"
      on-error="showErrorDebitCard"
    >

    <iron-ajax
      id="createPan"
      url="https://my.api.mockaroo.com/pan.json?key=ee9633c0"
      method = "GET"
      content-type="application/json"
      handle-as="json"
      on-response="showDataCreatePan"
      on-error="showErrorCreatePan"
    >

    <iron-ajax
      id="createCard"
      url="{{url_docker_back}}/psnglobal/v1/cards/"
      method = "POST"
      content-type="application/json"
      handle-as="json"
      on-response="showDataCreateCard"
      on-error="showErrorCreateCard"
    >

    <iron-ajax
      id="createIban"
      url="https://my.api.mockaroo.com/iban.json?key=ee9633c0"
      method = "GET"
      content-type="application/json"
      handle-as="json"
      on-response="showDataCreateIban"
      on-error="showErrorCreateIban"
    >

    <iron-ajax
      id="createAccount"
      url="{{url_docker_back}}/psnglobal/v1/accounts/"
      method = "POST"
      content-type="application/json"
      handle-as="json"
      on-response="showDataCreateAccount"
      on-error="showErrorCreateAccount"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          url_docker_back: {
            type: String,
            //value: 'http://localhost:3000'
            value: 'http://route-imagenpsnglobalback-imagenpsnglobalback.a3c1.starter-us-west-1.openshiftapps.com'
          },iban: {
            type: String
          },balance: {
            type: String
          },accounts: {
            type: Array
          },userid: {
            type: String
          },movementid: {
            type: String
          },creditCard: {
            type: String,
            value: 1
          },debitCard: {
            type: String,
            value: 2
          },productTypeCuenta: {
            type: String,
            value: 1
          },productTypeCredito: {
            type: String,
            value: 2
          },productTypeDebito: {
            type: String,
            value: 3
          },cardType: {
            type: String
          },creditCards: {
            type: Array
          },debitCards: {
            type: Array
          },creditCardFlag: {
            type: Boolean,
            value: true
          },debitCardFlag: {
            type: Boolean,
            value: true
          },initialBalance: {
            type: Number,
            value: 0.00
          },initialLimitCC: {
            type: Number,
            value: 3000.00
          },initialLimitDC: {
            type: Number,
            value: 1200.00
          },initialAccountId: {
            type: String
          }
        };
      }

      showDataAccount(data){
        console.log("showDataAccount");
        console.log(data.detail.response);

        this.accounts = data.detail.response;
        this.initialAccountId = data.detail.response[0].account_id;
      }

      showErrorAccount(error){
        console.log("Hubo un error al Consultar las cuentas del Usuario");
        console.log(error);
      }

      showDataCreditCard(data){
        console.log("showDataCreditCard");
        console.log(data.detail.response);

        this.creditCardFlag = true;
        this.creditCards = data.detail.response;
      }

      showErrorCreditCard(error){
        console.log("Hubo un error al Consultar las tarjetas de Crédito");
        console.log(error);

        this.creditCardFlag = false;
        this.creditCards = "";
      }

      showDataDebitCard(data){
        console.log("showDataDebitCard");
        console.log(data.detail.response);

        this.debitCardFlag = true;
        this.debitCards = data.detail.response;
      }

      showErrorDebitCard(error){
        console.log("Hubo un error al Consultar las tarjetas de Débito");
        console.log(error);

        this.debitCardFlag = false;
        this.debitCards = "";
      }

      verMovimientosCuenta(e){
        console.log("hemos pulsado en ver movimientos de la Cuenta");
        console.log(e.model.item.account_id);

        this.dispatchEvent(
          new CustomEvent(
            "eventcuentas",
            {
              "detail" : {
                "productid" : e.model.item.account_id,
                "producttype": this.productTypeCuenta
              }
            }
          )
        )
      }

      verMovimientosTarjetaC(e){
        console.log("hemos pulsado en ver movimientos de la Tarjeta de Crédito");
        console.log(e.model.item.card_id);

        this.dispatchEvent(
          new CustomEvent(
            "eventcuentas",
            {
              "detail" : {
                "productid" : e.model.item.card_id,
                "producttype": this.productTypeCredito
              }
            }
          )
        )
      }

      verMovimientosTarjetaD(e){
        console.log("hemos pulsado en ver movimientos de la Tarjeta de Crédito");
        console.log(e.model.item.card_id);

        this.dispatchEvent(
          new CustomEvent(
            "eventcuentas",
            {
              "detail" : {
                "productid" : e.model.item.card_id,
                "producttype": this.productTypeDebito
              }
            }
          )
        )
      }

      contratCreditCard(){
        console.log("Hemos pulsado en el botón Contratar Tarjeta de Crédito");

        this.cardType = this.creditCard;
        this.$.createPan.generateRequest();
      }

      showDataCreatePan(data){
        console.log("PAN generado correctamente");
        console.log(data);

        this.pan = data.detail.response.pan;

        if(this.cardType == this.creditCard){
          var limit = this.initialLimitCC;
        }else if(this.cardType == this.debitCard){
          var limit = this.initialLimitDC;
        }
        var createCardData = {
          "pan" : this.pan,
          "card_type" : this.cardType,
          "limit" : limit,
          "user_id" : this.userid,
          "account_id" : this.initialAccountId
        };

        console.log(createCardData);

        this.$.createCard.body = JSON.stringify(createCardData);
        this.$.createCard.generateRequest();
      }

      showErrorCreatePan(error){
        console.log("Hubo un error al generar el PAN");
        console.log(error);
      }

      showDataCreateCard(data){
        console.log(data);

        if (this.cardType == this.creditCard){
          console.log("Tarjeta de Crédito creado correctamente");
          console.log(data.detail.response.mensaje);

          this.creditCardFlag = true;
          this.$.getCreditCard.generateRequest();
          alert(data.detail.response.mensaje);

        }else if (this.cardType == this.debitCard){
          console.log("Tarjeta de Débito creado correctamente");
          console.log(data.detail.response.mensaje);

          this.debitCardFlag = true;
          this.$.getDebitCard.generateRequest();
          alert(data.detail.response.mensaje);
        }
      }

      showErrorCreateCard(error){
        console.log(error);
        if (this.cardType == this.creditCard){
          console.log("Hubo un error en el alta de la tarjeta de Crédito");
          console.log(error.detail.response.mensaje);
        }else if (this.cardType == this.debitCard){
          console.log("Hubo un error en el alta de la tarjeta de Débito");
          console.log(error.detail.response.mensaje);
        }
      }

      contratDebitCard(){
        console.log("Hemos pulsado en el botón Contratar Tarjeta de Débito");

        this.cardType = this.debitCard;
        this.$.createPan.generateRequest();
      }

      contratAccount(){
        console.log("Hemos pulsado en el botón Contratar Cuenta");

        this.$.createIban.generateRequest();
      }

      showDataCreateIban(data){
        console.log("IBAN generado correctamente");
        console.log(data);

        this.iban = data.detail.response.iban;

        var createAccountData = {
          "iban" : this.iban,
          "user_id" : this.userid,
          "balance" : this.initialBalance
        };

        console.log(createAccountData);

        this.$.createAccount.body = JSON.stringify(createAccountData);
        this.$.createAccount.generateRequest();
      }

      showErrorCreateIban(error){
        console.log("Hubo un error al generar el IBAN");
        console.log(error);
      }

      showDataCreateAccount(data){
        console.log(data);

        console.log("Cuenta creada correctamente");
        console.log(data.detail.response.mensaje);

        this.$.getAccount.generateRequest();
        alert(data.detail.response.mensaje);
      }

      showErrorCreateAccount(error){
        console.log(error);
        console.log("Hubo un error el Alta de la Cuenta");
        console.log(error.detail.response.mensaje);
      }
    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
